img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
}

div{
    background-color: aqua;
    width: 40%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
}

section{
    display: flex;
    gap: 1em;
}


@media(max-width:400px){
    section{
        flex-direction: column;
    }

    div{
        width: 90%;
    }
}
